---
// Import the Main Layout
import Layout from '../layouts/Layout.astro';

// Import the Layout Components
import Preview from '../components/organisms/Preview.astro';
import About from '../components/organisms/About.astro';
import NextCases from '../components/organisms/NextCases.astro';
---

<Layout>
	<main>
		<Preview 
			title="Business News Radio"
			image="/images/Macbook-BNR.png" 
		/>

		<About 
			product_type="Promotion landing-page for podcasts"
			services="Design & Development"
			first_paragraph="One of the first projects I ever had to make was a landingspage for a radio-station. In this landingspage I had to promote their podcasts, and push them to download the app."
			second_paragraph="In this project, I experimented with live-audio, various layouts, pop-overs and some responsive headers and footers. Overall, a very educational project."
		/>

		<!-- 
			This component displays the other available cases, excluding
			the one the user is currently visiting. For example, if the
			user is on the "Business News Radio" page, only the remaining cases
			will be shown.
		-->
		<NextCases />	
	</main>
</Layout>