---
// Import the main-layout
import Layout from '../layouts/Layout.astro';

// Import all the layout-components
---

<Layout>
	<main>
		<section id="contact">
			<h1>Let's work together</h1>

		    <form action="" method="get">
		    	<div>
  		    	  <label for="name">What's your name?</label>
  		    	  <input type="text" name="name" id="name" placeholder="John Doe" required />
		    	</div>

		    	<div>
  		    	  <label for="email">What's your e-mail?</label>
  		    	  <input type="email" name="email" id="email" placeholder="john@doe.com" required />
		    	</div>

		    	<div>
  		    	  <label for="email">What's the name of your organization?</label>
  		    	  <input type="email" name="email" id="email" placeholder="John & Doe ®" required />
		    	</div>
            
		    	<div>
  		    	  <label for="message">Hello, how can I help you?</label>
  		    	  <input type="text" name="message" id="message" placeholder="Hi Tygo, I wonder if you can..." required />
		    	</div>

  		    	<input type="submit" value="Send!" />
		    </form>
		</section>
    </main>
</Layout>

<style>
    section#contact {
		h1 {
			margin-bottom: 6rem;
			text-box: trim-both cap alphabetic;
		}

        form {
			display: flex;
			flex-direction: column;

			div {
				display: flex;
				flex-direction: column;

				gap: 1rem;
				padding: 4rem;
                border-top: 1px solid rgba(0, 0, 0, 0.1);

                label,
                input {
                    font-size: 2rem;
                }

				input {
                    border: none;
					background: none;
				}
			}
		}
    }
</style>
