---
// Import the Main Layout
import Layout from '../layouts/Layout.astro';

// Import the Layout Components
import Preview from '../components/organisms/Preview.astro';
import About from '../components/organisms/About.astro';
import NextCases from '../components/organisms/NextCases.astro';
---

<Layout>
	<main>
		<Preview 
			title="De Hallen"
			image="/images/Macbook-De-Hallen.png" 
		/>

		<About 
			product_type="Company Dashboard"
			services="Design & Development"
			first_paragraph="In the first year of my study, I designed and developed a data-driven dashboard that visualizes Google Analytics, Linkedin Analytics and Hotjar Analytics of a company called Fresk Digital."
			second_paragraph="With the short ammount of time I had, I focused on the Google Analytics only, combined with some view-transitions to expand my knowledge about the compact funcitonalities."
		/>

		<!-- 
			This component displays the other available cases, excluding
			the one the user is currently visiting. For example, if the
			user is on the "De Hallen" page, only the remaining cases
			will be shown.
		-->
		<NextCases />	
	</main>
</Layout>