---
// Import the Main Layout
import Layout from '../layouts/Layout.astro';

// Import the Layout Components
import Preview from '../components/organisms/Preview.astro';
import About from '../components/organisms/About.astro';
import NextCases from '../components/organisms/NextCases.astro';
---

<Layout>
	<main>
		<Preview 
			title="De Hallen"
			image="/images/Macbook-De-Hallen.png" 
		/>

		<About 
			product_type="Marketplace for services"
			services="Design & Development"
			first_paragraph="During my study, I collaborated with a company based in Amsterdam that offers a wide range of services. My task was to design and develop a modern website that clearly presented these services."
			second_paragraph="In this project, I implemented scroll-driven animations, micro-interactions, forms and much more to create a seamless user experience."
		/>

		<!-- 
			This component displays the other available cases, excluding
			the one the user is currently visiting. For example, if the
			user is on the "De Hallen" page, only the remaining cases
			will be shown.
		-->
		<NextCases />	
	</main>
</Layout>