---
// Import Layout
import Layout from '../layouts/Layout.astro';

// Import Components
import Chevron from '../components/atoms/Chevron.astro';
---

<Layout>
	<main>
		<section id="information">
			<a href="/work"><Chevron color="var(--black)"/> Return</a>
			<h1>Fresk Digital</h1>
			<ul class="tags">
				<li>Node</li>
				<li>Express</li>
				<li>View-transitions</li>
				<li>HTML</li>
				<li>CSS</li>
				<li>Javascript</li>
				<li>Chart.js</li>
			</ul>
			<img src="/images/Fresk-Digital.png" alt="Desktop Preview">
			<div>
				<article>
					<h2 class="medium-text">Product-type</h2>
					<p class="medium-text">Private Dashboard</p>
				</article>
				<article>
					<h2 class="medium-text">Service</h2>
					<p class="medium-text">Design & Development</p>
				</article>
			</div>
			<p class="big-text">
				In the first year of my study, I designed and developed a data-driven dashboard that visualizes 
				Google Analytics, Linkedin Analytics and Hotjar Analytics of a company called Fresk Digital. 

				With the short ammount of time I had, I focused on the Google Analytics only, combined with some 
				view-transitions to expand my knowledge about the compact funcitonalities.
			</p>
		</section>

		<section id="preview">
			<img src="/images/Macbook-Fresk-Digital.png" alt="Laptop Preview">
		</section>
		
		<section id="challenge">
			<p class="big-text">
				Each project was given me a unique challenge. In this project it was working with interactive 
				charts and view-transitions. With API-Keys I managed to render some data of the Google Analytics. 
			</p>
		</section>
	</main>
</Layout>

<style>
	#information {
		a {
			display: flex;
			align-items: center;

			font-size: 18px;
			font-family: "Poppins-SemiBold";

			svg {
				transform: rotate(180deg);
			}
		}
		
		img {
			width: 100%;
			margin: 4rem 0;
			padding: 5% 10%;
			background: var(--radial-purple);
		}

		div {
			gap: 3rem;
			display: flex;
			flex-direction: column;
			
			@media (min-width: 842px) {
				flex-direction: row;
				justify-content: space-between;
			}

			article {
				gap: 1rem;
				display: flex;
				flex-direction: column;
	
				h2 {
					text-transform: initial;
					font-family: "Poppins-Regular", Arial, Helvetica, sans-serif;
				}
	
				p {
					opacity: 0.6;
				}
			}
		}

		& > p {
			margin-top: 6rem;
		}
	}
	
	#preview {
		margin: 0;
		height: 100vh;
		background: var(--black);

		display: flex;
		align-items: center;
		justify-content: center;
		
		img {
			width: calc(100% - 2rem);
			max-width: 844px;
		}
	}
</style>