---
// Import Layout
import Layout from '../layouts/Layout.astro';
import Header from '../components/organisms/Header.astro';
---

<Layout>
	<Header textColor="black" />
	<main>
		<section id="home">
    		<h1>Fresk Digital</h1>
		</section>
		
		<section id="preview">
			<img src="/images/Macbook-Fresk-Digital.png" alt="Laptop Preview">
		</section>

		<section id="about">
			<ul>
				<li>
					<p class="m-text">Product-type <span>Company Dashboard</span></p>
				</li>
				<li>
					<p class="m-text">Services <span>Design & Development</span></p>
				</li>
			</ul>

			<p class="animated-text m-text">
				In the first year of my study, I designed and developed a data-driven dashboard that visualizes 
				Google Analytics, Linkedin Analytics and Hotjar Analytics of a company called Fresk Digital. 
			</p>

			<p class="animated-text m-text">
				With the short ammount of time I had, I focused on the Google Analytics only, combined with some 
				view-transitions to expand my knowledge about the compact funcitonalities.
			</p>
		</section>

		<section id="next-case">
			<h2 class="animated-heading">Next Case</h2>
			<a href="/de-hallen-amsterdam-west">
				<div class="image-wrapper">
					<img src="/images/De-Hallen.png" alt="">
				</div>
			</a>
		</section>
	</main>
</Layout>

<style>
	section {
		p.m-text {
			max-width: 48ch;
		}
	}
	
	section#home {
		h1 {
			margin-top: 12rem;
			font-size: clamp(48px, 12vw, 144px);
		}
	}
	
	section#preview {
		margin: 0;
		padding: var(--section-width);
		background: var(--radial-blue);
	
		display: flex;
		justify-content: center;
		
		img {
			width: calc(100% - 2rem);
			max-width: 1024px;
		}
	}
	
	section#about {
		ul {
			gap: 2rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin-bottom: 6rem;
			
			@media (min-width: 842px) {
				flex-direction: row;
			}

			li {
				a, p {
					display: flex;
					flex-direction: column;

					span {
						opacity: 0.6;
						font-size: inherit;
					} 	
				}
			}
		}

		p.m-text {
			&:nth-of-type(2) {
				margin-top: 2em;
			}
		}
	}

	section#next-case {
		margin: 0;
		overflow: hidden;

		h2 {
			margin-bottom: 2rem;
            white-space: nowrap;
            letter-spacing: -0.25rem;
		}
		
		a {
			display: flex;
			align-items: center;
			flex-direction: column;
			background: var(--black);
			padding: var(--section-width);

			h3 {
				color: var(--white);
				margin-bottom: 3rem;
				margin-bottom: -2em;
				transition: 0.5s ease;
			}

			div.image-wrapper {
				display: flex;
				overflow: hidden;
				justify-content: center;
				border-bottom: 2px solid var(--grey400);

				img {
					width: 100%;
					transition: 0.5s ease;
					transform: translateY(50%);
	
					@media (min-width: 842px) {
						max-width: 60%;
					}
				}
			}
			
			&:hover {
				h3 {
					opacity: 0.6;
				}

				div.image-wrapper {
					img {
						transform: translateY(20%);
					}
				}
			}
		}
	}
</style>