---
// Import the main-layout
import Layout from '../layouts/Layout.astro';

// Import all the layout-components
import Home from '../components/organisms/Home.astro';
import About from '../components/organisms/About.astro';
import Work from '../components/organisms/Work.astro';
import Services from '../components/organisms/Services.astro';
import Stats from '../components/organisms/Stats.astro';
---

<Layout>
	<main>
		<Home />

		<About />

		<Work />

		<Services />

		<Stats />
	</main>
</Layout>