---
// Import the Main Layout
import Layout from '../layouts/Layout.astro';

// Import the Layout Components
import Preloader from '../components/molecules/Preloader.astro';
import Home from '../components/organisms/Home.astro';
import Intro from '../components/organisms/Intro.astro';
import Work from '../components/organisms/Work.astro';
import Services from '../components/organisms/Services.astro';
---

<Layout>
	<main>
		<!-- 
			I put the Preloader in the main, because that's the first 
			content that loads when entering the page, and I want the
			user to see the preloader first.
		-->
		<!-- <Preloader /> -->

		<Home />

		<Intro />

		<Work />

		<Services />
	</main>
</Layout>