---
import Layout from '../layouts/Layout.astro';
import Chevron from '../components/atoms/Chevron.astro';
---

<Layout>
	<main>
		<section id="home">
			<h1>Creative Frontender</h1>
		</section>

		<section id="about">
			<h2>What do I do?</h2>
			<img src="/images/Tygo-Wolven-Portrait-Blue.png" alt="Portrait of Tygo Wolven">
			<p class="big-text">
				My passion lies in bringing dreams to life by creating simple, intuitive and engaging digital 
				experiences. Every project is a new oppurtunity to make the web a better place for everyone.
			</p>
		</section>

		<section id="work">
			<h2>Work</h2>
			<ul>
				<li>
					<a href="/fresk-digital">
						<img src="/images/Fresk-Digital.png" alt="">
						<div>
							<div>
								<img src="/images/Fresk-Digital-Logo.png" alt="">
								<h3>Fresk Digital</h3>
							</div>
							<p>2024</p>
						</div>
					</a>
				</li>
				<li>
					<a href="/de-hallen">
						<img src="/images/De-Hallen.png" alt="">
						<div>
							<div>
								<img src="/images/De-Hallen-Logo.png" alt="">
								<h3>De Hallen</h3>
							</div>
							<p>2025</p>
						</div>
					</a>
				</li>
			</ul>
			<a href="/work">See all <Chevron color="var(--black)"/></a>
		</section>
	</main>
</Layout>

<style>
	#home {
		margin: 0 1rem;

		h1 {
			text-align: center;
		}
	}

	#about {
		margin: 96px 1rem;

		h2 {
			font-size: 16px;
			line-height: 100%;
			letter-spacing: -0.04rem;
    		font-family: "Poppins-SemiBold", Arial, Helvetica, sans-serif;
		}

		img {
			width: 100%;
			margin: 1rem 0;
			border-radius: 1rem;
			padding: 1rem 7rem 0 7rem;
			background: var(--light-blue);
		}
	}

	#work {
		margin: 0 1rem;

		ul {
			gap: 1rem;
			display: flex;
			flex-wrap: wrap;

			li {
				padding: 1rem;
				border-radius: 1rem;
				background: var(--black);

				a {
					display: flex;
					flex-direction: column;
					
					& > img {
						width: 100%;
						padding: 1rem 2rem;
						border-radius: 0.5rem;
					}
					
					& > div {
						width: 100%;
						display: flex;
						margin-top: 1rem;
						align-items: center;
						justify-content: space-between;

						div {
							gap: 0.5rem;
							display: flex;
							align-items: center;

							img {
								border-radius: 50%;
							}

							h3 {
								color: var(--white);
								text-transform: uppercase;
								font-family: "Poppins-SemiBold";
							}
						}

						p {
							color: var(--white);
							opacity: 0.6;
						}
					}
				}

				&:nth-of-type(1) a img {
					background: var(--radial-purple);
				}

				&:nth-of-type(2) a img {
					background: var(--radial-green);
				}
			}
		}

		& > a {
			display: flex;
			align-items: center;
			justify-self: center;
			margin: 32px 0 96px 0;

			font-size: 18px;
			font-family: "Poppins-SemiBold";
		}
	}
</style>