---
// Import the main-layout
import Layout from '../layouts/Layout.astro';
import Preloader from '../components/molecules/Preloader.astro';

// Import all the layout-components
import Home from '../components/organisms/Home.astro';
import About from '../components/organisms/About.astro';
import Work from '../components/organisms/Work.astro';
import Services from '../components/organisms/Services.astro';
import Contact from '../components/organisms/Contact.astro';
---

<Layout>
	<main>
		<!-- 
			I put the Preloader in the main, because that's the first 
			content that loads when entering the page, and I want the
			user to see the preloader first.
		-->
		<Preloader />

		<Home />

		<About />

		<Work />

		<Services />

		<Contact />
	</main>
</Layout>