---
// Import the Main Layout
import Layout from '../layouts/Layout.astro';

// Import the Layout Components
import Preview from '../components/organisms/Preview.astro';
import About from '../components/organisms/About.astro';
import NextCases from '../components/organisms/NextCases.astro';
---

<Layout>
	<main>
		<Preview 
			title="Learning Blog"
			image="/images/Macbook-Learning-Blog.png" 
		/>

		<About 
			product_type="Notebook for my classes"
			services="Design & Development"
			first_paragraph="For most classes I attented, I took notes and included them on this blog website. Even though I didn't manage to finish everything, I still think its a cool project where I learned a lot."
			second_paragraph="The base of this project is all built up with complex scroll-driven animatoins and grid-layouts. I also used slug-based routing so adding new notes was very easy."
		/>

		<!-- 
			This component displays the other available cases, excluding
			the one the user is currently visiting. For example, if the
			user is on the "Learning Blog" page, only the remaining cases
			will be shown.
		-->
		<NextCases />	
	</main>
</Layout>