---
// Import Layout
import Layout from '../layouts/Layout.astro';
import Header from '../components/organisms/Header.astro';
---

<Layout>
    <Header textColor="black" />
	<main>
        <section id="home">
            <h1>Sorry, this page is not finished... yet!</h1>
        </section>
	</main>
</Layout>

<style>
	section#home {
		h1 {
			margin-top: 12rem;
			font-size: clamp(48px, 12vw, 144px);
		}
	}
</style>