---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<section id="work">
			<h1>Selected Work</h1>
            <a href="/fresk-digital">Fresk Digital</a>
		</section>
	</main>
</Layout>

<style>
    #work {
        margin: 0 1rem;
    }
</style>
