---
// Import the main-layout
import Layout from '../layouts/Layout.astro';

// Import all the layout-components
import Cases from '../components/molecules/Cases.astro';
import Link from '../components/atoms/Link.astro';
---

<Layout>
	<main>
		<section id="work">
			<h1>Selected Work</h1>
            <Cases />
			<Link 
				link="https://github.com/TygoWolven?tab=repositories"
				target="_blank"
				label="Check out my Github"
				color="var(--black)"
			/>
		</section>
</main>
</Layout>

<style>
    section#work {
		h1 {
			margin-bottom: 3rem;
			text-box: trim-both cap alphabetic;
		}
    }
</style>
