<div class="preloader">
    <span class="heading small-title">Front-end Portfolio 2025</span>
    <span class="content xl-text">Welcome to the portfolio of Tygo Wolven, enjoy!</span>
</div>

<style>
    div.preloader {
        display: none;
        position: fixed;
        flex-direction: column;
        align-items: center;
        pointer-events: none;
        justify-content: center;

        z-index: 1;
        width: 100%;
        height: 100%;
        background: var(--black);

        span {
            color: var(--white);
            text-align: center;
            
            &.content {
                max-width: 20ch;
            }
        }
    }
</style>