<ul>
    <li>
        Contact me
    </li>
    <li>
        Hit me up   
    </li>
    <li>
        Let's have a conversation
    </li>
    <li>
        Brainstorm?
    </li>
</ul>

<style>
    ul {
        gap: 6rem;
        display: flex;
        padding: 1rem 0;
        background: var(--light-blue);

        li {
            font-size: 18px;
            position: relative;
            
            display: flex;
            align-items: center;
            color: var(--white);

            &::after {
                content: "";
                position: absolute;

                width: 8px;
                aspect-ratio: 1;
                border-radius: 50%;

                right: -3rem;
                background: var(--white);
                transform: translateX(50%);
            }
        }
    }
</style>