<section id="about">
    <h2 class="small-caps">What do I do?</h2>
	<div class="sticky-container">
		<img src="/images/Tygo-Wolven-Portrait-Blue.png" alt="Portrait of Tygo Wolven" fetchpriority="high">
	</div>
	<p class="big-text">
		My passion lies in bringing dreams to life by creating simple, intuitive and engaging digital 
		experiences. Every project is a new oppurtunity to make the web a better place for everyone.
	</p>
</section>

<style>
    section#about {		
		background: var(--white);
		gap: 1rem 0;
		display: grid;
		grid-template-areas: 
		"title"
		"sticky-container"
		"paragraph";
		
		
		@media (min-width: 842px) {
			gap: 0 4rem;
			grid-template-areas:
			"title sticky-container"
			"paragraph sticky-container";
			grid-template-columns: 3fr 2fr;

			div.sticky-container {
				grid-area: sticky-container;	
	
				img {
					top: 5.5rem;
					position: sticky;
				}
			}
		}

		h2 {
			grid-area: title;
		}
		
		img {
			width: 100%;
			aspect-ratio: 16/9;
			border-radius: 1rem;
			object-fit: contain;
			background: var(--radial-blue);
		}
		

		p {
			grid-area: paragraph;
			line-height: 150%;
			font-weight: 600;
			font-size: 64px;
			font-size: clamp(24px, 3vw, 64px);
		}
    }
</style>