---
import MediumText from "../atoms/MediumText.astro"

const { product_type, services, first_paragraph, second_paragraph } = Astro.props;
---

<section id="about">
	<ul>
		<li>
			<MediumText>
				Product-type <span>{ product_type }</span>
			</MediumText>
		</li>
		<li>
			<MediumText>
				Services <span>{ services }</span>
			</MediumText>
		</li>
	</ul>

	<MediumText>
        { first_paragraph }
    </MediumText>

	<MediumText>
        { second_paragraph }
	</MediumText>
</section>

<style>
    section#about {
        ul {
            gap: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 6rem;
            
            @media (min-width: 842px) {
                flex-direction: row;
            }

            li {
                a, p {
                    display: flex;
                    flex-direction: column;
            
                    span {
                        opacity: 0.6;
                        font-size: inherit;
                    } 	
                }
            }
        }
        
        p.m-text:nth-of-type(2) {
            margin-top: 2rem;
        }
    }
</style>