<section id="about">
    <h2 class="small-title">What do I do?</h2>
	<p class="animated-text xl-text">
		My passion lies in bringing dreams to life by designing and 
		developing complex, user-friendly, interactive web-applications.
	</p>

	<div class="alignment-wrapper">
		<h3 class="small-title">In doing so</h3>
		<p class="animated-text">
			I'm implementing core web principles, API's, databases, and use relevant 
			tools and frameworks, and follow standard design and development methodologies.
		</p>
	
		<h3 class="small-title">With the goal to</h3>
		<p class="animated-text">
			Make the web a better place for everyone. Taking care of responsiveness, accessibility, 
			performance and progressive enhancements, my creations are useable for everyone.
		</p>

		<a href="#services" class="button dark">Find out how</a>
	</div>
</section>

<style>
    section#about {		
		h2.small-title {
			margin-bottom: 1rem;
		}

		p.animated-text {
			font-weight: 600;
		}

		div.alignment-wrapper {
			margin-top: 3rem;
			justify-self: end;

			@media (min-width: 842px) {
				margin-top: unset;
			}

			h3 {
				opacity: 1;
				margin-bottom: 0.5rem;
	
				& + p.animated-text {
					opacity: 0.6;
					max-width: 42ch;
					font-weight: 100;
					margin-bottom: 3rem;
				}
			}
		}
    }
</style>