<section id="about">
    <h2 class="small-title">What do I do?</h2>
	<p class="animated-paragraph big-text">
		My passion lies in bringing dreams to life by creating simple, intuitive and engaging digital 
		experiences. Every project is a new oppurtunity to make the web a better place for everyone.
	</p>
</section>

<style>
    section#about {		
		h2 {
			opacity: 0.6;
			margin-bottom: 1rem;
		}

		p.animated-paragraph {
			font-weight: 600;
		}
    }
</style>