<section id="contact">
    <h2 class="animated-heading">Let's talk</h2>

    <div class="flex-container">
        <div class="left-column">
            <p class="animated-text l-text">Any questions? Interested in utilizing my services? Don't hestitate to hit me up!</p>
            <a href="mailto:tygowolven@gmail.com" class="button dark">Email me</a>
        </div>
        
        <div class="right-column">
            <div class="navigation">
                <nav>
                    <h3 class="small-title">Navigation</h3>
                    <ul>
                        <li>
                            <a href="#home">Home</a>
                        </li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li>
                            <a href="#work">Projects</a>
                        </li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="social-media">
                <h3 class="small-title">Socials</h3>
                <ul>
                    <li>
                        <a href="https://github.com/TygoWolven" target="_blank">Github</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/tygo-wolven-091515241/" target="_blank">Linkedin</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/tygowolvenn_/" target="_blank">Instagram</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<style>
    section#contact {
        margin: 0;
        overflow: hidden;
        padding: var(--section-width);

        h2 {
            margin-bottom: 9rem;
            font-weight: unset;
            white-space: nowrap;
            letter-spacing: -0.25rem;
        }

        .flex-container {
            .left-column {
                .l-text {
                    max-width: 22ch;
                    margin-bottom: 3rem;
                }
            }
    
            .right-column {
                gap: 6rem;
                display: flex;
                margin-top: 6rem;

                h3 {
                    opacity: 1;
                    margin-bottom: 0.5rem;
                }

                ul {
                    opacity: 0.6;
                }

                div.social-media {
                    ul {
    
                    }
                }
    
                div.navigation {
                    nav {
                        ul {
    
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 1024px) {
        section#contact {
            .flex-container {
                display: flex;
                justify-content: space-between;

                .right-column {
                    margin-top: unset;
                }
            }
        }
    }
</style>