<footer>
    <ul>
        <li>
            <a href="#home">Home</a>
        </li>
        <li>
            <a href="#about">About</a>
        </li>
        <li>
            <a href="#work">Work</a>
        </li>
        <li>
            <a href="#services">Services</a>
        </li>
        <li>
            <a href="#contact">Contact</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="/fresk-digital">Fresk Digital</a>
        </li>
        <li>
            <a href="/de-hallen">De Hallen Amsterdam West</a>
        </li>
        <li>
            <a href="/business-news-radio">Business News Radio</a>
        </li>
        <li>
            <a href="/learning-blog">Learning Blog</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="https://github.com/TygoWolven" target="_blank">Github</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/tygo-wolven-091515241/" target="_blank">Linkedin</a>
        </li>
        <li>
            <a href="https://www.instagram.com/tygowolvenn_/" target="_blank">Instagram</a>
        </li>
    </ul>
</footer>

<style>
    footer {
        background: var(--black);
        padding: var(--section-width);

        display: flex;
        justify-content: space-between;

        & * {
            color: var(--white);
        }
        
        ul {
            li {
                transition: 0.4s ease;

                a {
                    &:hover {
                        
                    }
                }
            }

            &:has(li:hover) li {
                opacity: 0.5;
            }
    
            &:has(li:hover) li:hover {
                opacity: 1;
            }
        }
    }
</style>