<footer>
    <div id="contact">
        <a href="/contact">
            <h3 class="title">Any questions? Interested in working together? <span>Hit me up!</span></h3>
        </a>
    </div>

    <div id="next-page">
        <a href="/about">
            <h4>Next page</h4>
            <div>
                <h3>About</h3>
                <button class="button">Discover</button>
            </div>
        </a>
    </div>

    <div id="links">
        <div>
            <h4>Navigation</h4>
            <ul class="hover-list">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/work">Work</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <div>
            <h4>Social Media</h4>
            <ul class="hover-list">
                <li>
                    <a href="https://github.com/TygoWolven" target="_blank">Github</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/tygo-wolven-091515241/" target="_blank">Linkedin</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/tygowolvenn_/" target="_blank">Instagram</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="copyright">
        <p class="title">Tygo Wolven <span>&copy;</span></p>
    </div>
</footer>

<style>
    footer {
        margin: 1rem;
        display: grid;
        grid-template-columns: 1fr;

        border-radius: 1rem;
        background: var(--black);

        @media (min-width: 768px) {
            margin: 2rem;
        }
        
        & > div {
            padding: 2rem;

            & * {
                color: var(--white);
            }

            .title {
                max-width: 26ch;
                font-weight: 900;
                text-transform: uppercase;
                font-size: clamp(36px, 6cqw, 128px);
                font-family: "Arges", Arial, Helvetica, sans-serif;
                
                /* Check for browser-support */
                @supports (text-box: trim-both cap alphabetic) {
                    text-box: trim-both cap alphabetic;
                }

                span {
                    font-size: inherit;
                    font-family: inherit;
                    color: var(--light-blue);
                }
            }
        }

        #contact {
            display: flex;
            align-items: center;
            transition: 0.2s ease;
            justify-content: center;
            border-bottom: 1px solid var(--grey400);

            &:hover {
                background: var(--grey400);
            }
        }

        #next-page {
            transition: 0.2s ease;
            border-bottom: 1px solid var(--grey400);

            a {
                height: 100%;
                min-height: 128px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h4 {
                    opacity: 0.6;
                }

                div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h3 {
                        font-size: 32px;
                        /* Check for browser-support */
                        @supports (text-box: trim-both cap alphabetic) {
                            text-box: trim-both cap alphabetic;
                        }
                    }
                }
            }
            &:hover {
                background: var(--grey400);

                a {
                    div {
                        button {
                            background: var(--grey300);
                            border: 1px solid var(--grey200);
                        }
                    }
                }
            }
        }

        #links {
            gap: 4rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            div {
                width: 100%;
                display: flex;
                justify-content: space-between;

                h4 {
                    opacity: 0.6;
                }

                ul {
                    gap: 1rem;
                    display: flex;
                    text-align: right;
                    flex-direction: column;
                }
            }
        }

        #copyright {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @media (min-width: 768px) {
        footer {
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 2fr 1fr;

            #contact,
            #links {
                border-right: 1px solid var(--grey400);
            }

            #next-page {
                a {
                    div {
                        align-items: end;
                    }
                }
            }

            #links {
                div {
                    gap: 2rem;
                    width: fit-content;
                    ul {
                        text-align: left;
                    }
                }
            }
        }
    }
</style>