<header>
    <nav>
        <a href="/" class="small-caps">Home</a>
        <ul>
            <li>
                <a href="/work" class="small-caps">Work</a>
            </li>
            <li>
                <a href="/contact" class="small-caps">Contact</a>
            </li>
        </ul>
    </nav>
</header>

<style>
    header {
        margin: var(--navigation-width);
        
        nav{
            display: flex;
            align-items: center;
            justify-content: space-between;

            ul {
                gap: 4rem;
                display: flex;
            }
        }
    }
</style>