<section id="home">
    <h1 class="animated-heading">Tygo Wolven</h1>
</section>

<style>
    section#home {
        margin: 0;
        height: 100vh;
        overflow: hidden;
        padding: var(--section-width);
        background: var(--radial-blue);
        padding-bottom: 6rem;

        display: flex;
        justify-content: end;
        flex-direction: column;

        h1 {
            color: var(--white);
            white-space: nowrap;
            letter-spacing: -0.25rem;
        }
    }
</style>