<section id="home">
    <h1>Creative Front-ender</h1>
</section>

<style>
    section#home {
        h1 {
            max-width: 11ch;

            span {
                text-transform: initial;
            }
        }
    }
</style>