<section id="home">
    <ul>
        <li>
            <p>Status <span>Looking for work</span></p>
        </li>
        <li>
            <p>Expertise <span>Frontend Design & Development</span></p>
        </li>
        <li>
            <p>Based in <span>Amsterdam, the Netherlands</span></p>
        </li>
        <li>
            <a href="#contact">Contact me</a>
        </li>
    </ul>
    <h1 class="animated-text">Tygo Wolven</h1>
</section>

<style>
    section#home {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-between;

        margin: 0;
        height: 100vh;
        padding: var(--section-width);
        background: var(--radial-blue);

        padding-bottom: 0;
        padding-top: 1rem;

        @media (min-width: 842px) {
            padding-top: 2rem;
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
                p,
                span {
                    color: var(--white);
                }

                p {
                    display: flex;
                    font-size: 18px;
                    flex-direction: column;
                    
                    span {
                        opacity: 0.6;
                        font-size: inherit;
                    }
                }

                a {
                    font-weight: 900;
                    padding: 1rem 2rem;
                    border-radius: 2rem;
                    color: var(--black);
                    background: var(--white);
                }
            }

            @media (max-width: 1280px) {
                li:nth-of-type(3) {
                    display: none;
                }
            }

            @media (max-width: 842px) {
                li:nth-of-type(2) {
                    display: none;
                }
            }
        }

        h1 {
            margin-bottom: 6rem;
            color: var(--white);
            font-weight: unset;
            white-space: nowrap;
            font-size: clamp(128px, 16vw, 196px);
        }
    }
</style>