<section id="services">
    <h2 class="small-title">How can I assist you?</h2>
	<p class="animated-text xl-text">
		From concept to polished interface - explore the services 
		I offer to translate your ideas into digital experiences.
	</p>
	<ul>
		<li>
			<h3 class="l-text">Website Design</h3>
			<p class="animated-text">
				Understanding the project's goals and the people who will use it. Trough
				wireframes, prototypes and refined visual designs, I create intuitive interfaces that
				guide users naturally, ensuring every interaction feels clear, purposeful, and enjoyable.
			</p>
		</li>
		<li>
			<h3 class="l-text">Frontend Development</h3>
			<p class="animated-text">
				Turning the ideas and designs into a fully functioning website using clean, scalable 
				code. With a strong focus on the web-principles and methods, I deliver a smooth 
				experience for every single user.
			</p>
		</li>
		<li>
			<h3 class="l-text">Support & Maintenance</h3>
			<p class="animated-text">
				After launch, I fine-tune every detail that helps your website load faster, rank better, and 
				deliver a seamless user experience. I also make sure the website is always up-to-date by handling
				updates, bug fixes, and ongoing improvements. This will make sure you never have to worry about your
				digital precense from dissapearing. 
			</p>
		</li>
	</ul>
</section>

<style>
	section#services {
		margin: 0;
		background: var(--black);
		padding: var(--section-width);

		h2.small-title {
			color: var(--white);
			margin-bottom: 1rem;

			+ p.animated-text {
				color: var(--white);
				margin-bottom: 6rem;
				font-weight: 600;
			}
		}
		
		ul {
			gap: 3rem 0;
			display: grid;
			grid-template-columns: 1fr;

			li {
				h3 {
					margin-bottom: 1rem;
					color: var(--white);
				}

				p.animated-text {
					opacity: 0.6;
					color: var(--white);
				}
			}
		}
	
		/* GSAP Animations */
		@media (scripting: enabled) {
			p.animated-text {
				div {
					color: var(--white);
				}
			}
			
			ul {
				li {
					opacity: 0.1;
				}
			}
		}

		/* Breakpoint */
		@media (min-width: 1024px) {
			ul {
				gap: 6rem 0;
				grid-template-columns: repeat(3, 1fr);

				li {
					h3 {
						max-width: 12ch;
					}

					&:nth-of-type(1) {
						grid-row: 1;
						grid-column: 1;
					}

					&:nth-of-type(2) {
						grid-row: 2;
						grid-column: 2;
					}

					&:nth-of-type(3) {
						grid-row: 3;
						grid-column: 3;
					}
				}
			}
		}
	}  
</style>