<section id="services">
    <h2 class="small-title">How can I assist you?</h2>
	<p class="animated-text xl-text">
		From concept to polished interface - explore the services 
		I offer to translate your ideas into digital experiences.
	</p>
	<ul>
		<li>
			<h3 class="small-title">Website Design</h3>
			<p class="animated-text">
				I start with understanding the project's goals and the people who will use it. Trough
				wireframes, prototypes and refined visual designs, I create intuitive interfaces that
				guide users naturally, ensuring every interaction feels clear, purposeful, and enjoyable.
			</p>
		</li>

		<li>
			<h3 class="small-title">Frontend Development</h3>
			<p class="animated-text">
				I bring the designs to life with modern, scalable, and maintainable code. By following solid
				web principles and best practices, I build fast, reliable, and fully responsive websites that 
				deliver a smooth experience for every user.
			</p>
		</li>

		<li>
			<h3 class="small-title">Website Optimization</h3>
			<p class="animated-text">
				I improve the new, or already existing website by testing it on performance, accessibility and
				responsiveness. Trough progressive enhancements, code optimization, and UX refinements, I ensure
				the website loads quicker, ranks higher, and converts more effectively.
			</p>
		</li>

		<li>
			<h3 class="small-title">Support & Maintenance</h3>
			<p class="animated-text">
				After launch, I keep fine-tuning every detail. I handle updates, security checks, bug fixes, and new
				features to keep everything running smoothly to your liking. This will make sure you never have to 
				worry about your digital precense from dissapearing. 
			</p>
		</li>
	</ul>
</section>

<style>
	section#services {
		margin: 0;
		background: var(--black);
		padding: var(--section-width);

		h2.small-title {
			color: var(--white);
			margin-bottom: 1rem;

			+ p.animated-text {
				color: var(--white);
				font-weight: 600;
			}
		}
		
		ul {
			display: grid;
			justify-self: end;
			width: fit-content;

			gap: 3rem;
			margin-top: 3rem;
			grid-template-columns: 1fr;

			li {
				h3 {
					opacity: 1;
					color: var(--white);
					margin-bottom: 0.5rem;
					
					& + p.animated-text {
						opacity: 0.6;
						max-width: 42ch;
						color: var(--white);
					}
				}
			}
		}
	
		/* GSAP Animations */
		@media (scripting: enabled) {
			p.animated-text {
				div {
					color: var(--white);
				}
			}
		}

		/* Breakpoint */
		@media (min-width: 842px) {
			ul {
				gap: 6rem;
				grid-template-columns: 1fr 1fr;
			}
		}
	}  
</style>