<section id="services">
    <h2 class="small-title">What do I offer?</h2>
	<p class="animated-paragraph big-text">
		I believe that we can live in a world where every product or service has an 
		easy to use experience on all platforms. My mission is to make this happen.
	</p>
	<ul class="sticky-list">
		<li>
			<span aria-hidden="true">01</span>
			<h3 class="big-title">Design</h3>
			<div class="content-wrapper">
				<p class="medium-text">
					Every project starts with understanding the goal and the user. I create wireframes 
					and visual concepts — creating a strong foundation that will fit your needs.
				</p>
				<ul class="tags">
					<li>Figma</li>
					<li>Research</li>
					<li>Wireframing</li>
					<li>UI</li>
					<li>UX</li>
					<li>Web Design</li>
					<li>Prototyping</li>
				</ul>
			</div>
		</li>
		<li>
			<span aria-hidden="true">02</span>
			<h3 class="big-title">Development</h3>
			<div class="content-wrapper">
				<p class="medium-text">
					I turn the design into a fully functioning website using clean, structured code 
					— focusing on responsiveness, performance, accessibility and progressive enhancements.
				</p>
				<ul class="tags">
					<li>Frontend</li>
					<li>Web Standards</li>
					<li>Frameworks</li>
					<li>CMS</li>
					<li>API</li>
					<li>Databases</li>
					<li>Conventions</li>
				</ul>
			</div>
		</li>
		<li>
			<span aria-hidden="true">03</span>
			<h3 class="big-title">Finetuning</h3>
			<div class="content-wrapper">
				<p class="medium-text">
					This is where I refine the details. I optimize the user-experience, test across devices, 
					and continue polishing until everything looks and feels just right — visually and technically.
				</p>
				<ul class="tags">
					<li>Refactoring</li>
					<li>Animating</li>
					<li>Optimizing</li>
					<li>Detailing</li>
				</ul>
			</div>
		</li>
	</ul>
</section>

<style>
	section#services {
		margin: 0;
		background: var(--black);
		padding: var(--section-width);

		& > h2 {
			opacity: 0.6;
			color: var(--white);
			margin-bottom: 1rem;

			+ p.animated-paragraph {
				color: var(--white);
				margin-bottom: 6rem;
				font-weight: 600;

				/* GSAP Animation */
    			@media (scripting: enabled) {
    			    div {
    			        color: var(--white);
    			    }
    			}
			}
		}
		
		ul.sticky-list {
			& > li {			
				/* Styling */
				padding: 2rem 0;
				background: var(--black);
				border-top: 1px solid var(--grey400);
				
				&:last-of-type {
					border-bottom: 1px solid var(--grey400);
				}

				/* Grid Layout */
				display: grid;
				grid-template-columns: 1fr;

				/* Stickyness */
				top: 2rem;
				position: sticky;

				&:nth-of-type(2) {
					top: 8rem;
				}

				/* Child Elements */
				span {
					display: none;
				}

				h3 {
					font-weight: unset;
					color: var(--white);
				}

				.content-wrapper {
					margin-top: 1rem;

					p {
						color: var(--grey100);
						margin-bottom: 2rem;
					}
				}
			}
		}
		/* Breakpoint */
		@media (min-width: 842px) {
			ul.sticky-list {
				& > li {
					padding: 4rem 0;
					grid-template-columns: 1fr 4fr 2fr;

					span {
						display: flex;
						font-weight: 900;
						color: var(--grey200);
					}

					.content-wrapper {
						margin: unset;
						grid-column: unset;
					}
				}
			}
		}
	}  
</style>