---
// Import Components
import Cases from "../molecules/Cases.astro"
import Link from "../atoms/Link.astro"
---

<section id="work">
	<h2>Selected work</h2>
	<Cases />
	<Link 
		link="/work"
		label="See all"
        color="var(--black)"
	/>
</section>

<style>
    section#work {
        h2 {
            margin-bottom: 3rem;
            text-box: trim-both cap alphabetic;
        }

        ul {
            li:nth-of-type(2) {
                ~ li {
                    display: none;
                }
            }
        }
    }
</style>