/* Fonts */
@font-face {
    font-family: "Arges";
    src: url("/fonts/Arges-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("/fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Doto";
    src: url("/fonts/Doto-VariableFont_wght.ttf");
}

/* Custom Properties */
:root {    
    /* Base Colors */
    --white: rgb(245, 245, 245);
    --grey100: rgb(158, 158, 158);
    --grey200: rgb(64, 64, 64);
    --grey300: rgb(58, 58, 58);
    --grey400: rgb(38, 38, 38);
    --black: rgb(23, 23, 23);

    /* Primary Colors */
    --light-blue: rgb(130, 150, 200);
    --medium-blue: rgb(90, 110, 160);
    --dark-blue: rgb(60, 80, 130);
    
    /* Gradients */
    --radial-purple: radial-gradient(#E2D9ED, #9883B3);
    --radial-green: radial-gradient(#B2B2A5, #626259);
    --radial-yellow: radial-gradient(#FFF9E6, #EAD283);
    --radial-orange: radial-gradient(#FFF2ED, #F9C0A6);
    --radial-grey: radial-gradient(#FAFAFA, #8E8E8E);
    --radial-brown: radial-gradient(#CFC4B8, #837566);
    --radial-blue: radial-gradient(var(--light-blue), var(--medium-blue));

    /* Margins & Paddings */
    --section-width: 6rem 1rem;
    --navigation-width: 2rem 1rem;

    @media (min-width: 768px) {
        /* Margins & Paddings */
        --section-width: 9rem 6rem;
        --navigation-width: 2rem 6rem;
    }
}

/* Global Styling for all elements */
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    list-style: none;
    color: var(--black);
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins-Regular", Arial, Helvetica, sans-serif;
    
    &::-webkit-scrollbar {
        display: none;
    }
}

/* Global Styling for specific elements */
html {
    scroll-behavior: smooth;

    body {
        background: var(--white);
    
        section {
            margin: var(--section-width);
            scroll-margin: var(--section-width);
    
            h1,
            h2,
            h3,
            h4 {
                font-weight: unset;
            }
            
            h1,
            h2 {
                line-height: 1;
                font-weight: 900;
                text-transform: uppercase;
                font-size: clamp(128px, 16vw, 300px);
                font-family: "Arges", Arial, Helvetica, sans-serif;
            }
            h2 {
                font-size: clamp(96px, 12vw, 200px);
            }
        }
    }
}

/* Reusable Classes */
.small-caps {
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.04rem;
    text-transform: uppercase;
    font-family: "Poppins-SemiBold", Arial, Helvetica, sans-serif;
    
    @media (min-width: 768px) {
        font-size: 16px;
    }
}

.medium-text {
    line-height: 100%;
    letter-spacing: -0.04rem;
	font-size: clamp(20px, 6vw, 32px);
}

.big-text {
    line-height: 100%;
    letter-spacing: -0.04rem;
    font-size: clamp(24px, 6vw, 36px);
}

ul.tags {
    gap: 4px;			
    display: flex;
    flex-wrap: wrap;

    li {			
        color: var(--white);
        background: var(--grey300);
        padding: 4px 8px;
        border-radius: 4px;
        text-transform: uppercase;
        font-family: "Doto", Arial, Helvetica, sans-serif;
    }
}

ul.hover-list {
    li {
        transition: 0.4s ease;
    }

    &:has(li:hover) li {
        opacity: 0.5;
    }

    &:has(li:hover) li:hover {
        opacity: 1;
    }
}

.button {
    border-radius: 4px;
    padding: 0.5rem 1rem;
    transition: 0.2s ease;
    
    color: var(--white);
    background: var(--grey400);
    border: 1px solid var(--grey300);
    
    height: fit-content;
    text-transform: uppercase;
    font-family: "Doto", Arial, Helvetica, sans-serif;
}