/* Fonts */
@font-face {
    font-family: "Arges";
    src: url("/fonts/Arges-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("/fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Doto";
    src: url("/fonts/Doto-VariableFont_wght.ttf");
}





/* Custom Properties */
:root {    
    /* Base Colors */
    --white: rgb(245, 245, 245);
    --grey100: rgb(164, 164, 164);
    --grey200: rgb(64, 64, 64);
    --grey300: rgb(58, 58, 58);
    --grey400: rgb(38, 38, 38);
    --black: rgb(23, 23, 23);

    /* Primary Colors */
    --light-blue: rgb(130, 150, 200);
    --dark-blue: rgb(60, 80, 130);
    
    /* Gradients */
    --radial-purple: radial-gradient(#E2D9ED, #9883B3);
    --radial-green: radial-gradient(#B2B2A5, #626259);
    --radial-yellow: radial-gradient(#FFF9E6, #EAD283);
    --radial-orange: radial-gradient(#FFF2ED, #F9C0A6);
    --radial-brown: radial-gradient(#CFC4B8, #837566);
    --radial-grey: radial-gradient(var(--white), var(--grey100));
    --radial-blue: radial-gradient(var(--light-blue), var(--dark-blue));

    /* Margins & Paddings */
    --section-width: 6rem 1rem;

    @media (min-width: 842px) {
        /* Margins & Paddings */
        --section-width: 9rem 6rem;
    }
}





/* Global Styling for all elements */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    color: var(--black);
    text-decoration: none;
    box-sizing: border-box;
    
    font-size: 18px;
    letter-spacing: -0.04rem;
    font-family: "Poppins-Regular", Arial, Helvetica, sans-serif;
    
    &::-webkit-scrollbar {
        display: none;
    }
}





/* Global Styling */
html {
    scroll-behavior: smooth;
    
    body {
        background: var(--white);

        section {
            scroll-margin-top: 6rem;
            margin: var(--section-width);
            
            h1,
            h2,
            h3,
            h4 {
                line-height: 100%;
            }

            h1 {
                font-size: clamp(128px, 16vw, 196px);
            }

            h2 {
                font-size: clamp(64px, 12vw, 196px);
            }
            
            a,
            p,
            span {
                line-height: 150%;
            }
        }
    }
}





/* Font Sizes */
.small-title {
    opacity: 0.6;
    font-size: 14px;
    letter-spacing: 0;
    text-transform: uppercase;
    font-family: "Poppins-SemiBold", Arial, Helvetica, sans-serif;
    
    @media (min-width: 842px) {
        font-size: 16px;
    }
}

.big-title {
    font-size: clamp(36px, 6vw, 128px);
}

.variant-title {
    font-weight: 900;
    text-transform: uppercase;
    font-family: "Arges", Arial, Helvetica, sans-serif;
}

.s-text {
	font-size: clamp(16px, 2vw, 24px);

    /* GSAP Animation */
    @media (scripting: enabled) {
        div {
	        font-size: clamp(16px, 2vw, 24px);
        }
    }
}

.m-text {
    font-size: clamp(18px, 2vw, 32px);

    /* GSAP Animation */
    @media (scripting: enabled) {
        div {
            font-size: clamp(18px, 2vw, 32px);
        }
    }
}

/* Font Sizes */
.l-text {
    font-size: clamp(24px, 3vw, 48px);
    /* GSAP Animation */
    @media (scripting: enabled) {
        div {
            font-size: clamp(24px, 3vw, 48px);        
        }
    }
}				

.xl-text {
    font-size: clamp(24px, 4vw, 64px);
    
    /* GSAP Animation */
    @media (scripting: enabled) {
        div {
            font-size: clamp(24px, 4vw, 64px);
        }
    }
}





/* Variable Classes */
.button {
    border: none;
    font-size: 16px;
    font-weight: 900;
    padding: 1rem 2rem;
    border-radius: 2rem;
    
    &.light {
        color: var(--black);
        background: var(--white);
    }

    &.dark {
        color: var(--white);
        background: var(--black);
    }
}   