---
// Import Global CSS File
import "../assets/styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, viewport-fit=cover" />
		<link rel="icon" href="/images/Website-Icon.png" />

		<link rel="preload" href="../assets/scripts/preloader.js" as="script">
		<link rel="preload" href="/fonts/Poppins-Regular.ttf" as="font" type="font/ttf">
		
		<meta name="generator" content={Astro.generator} />
		<title>Tygo Wolven | Creative Front-end Designer & Developer</title>
	</head>
	<body>
		<script src="../assets/scripts/preloader.js"></script>
		
		<slot />
		
		<script src="../assets/scripts/script.js"></script>
	</body>
</html>