---
// Import Global CSS File
import "../assets/styles/global.css";

// Import Layout Components
import Footer from "../components/organisms/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script src="../assets/scripts/script.js"></script>
		<meta name="generator" content={Astro.generator} />
		<title>Tygo Wolven | Creative Front-end Designer & Developer</title>
	</head>
	<body>
		<slot />
		<Footer />
	</body>
</html>
